<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Device Sense</title>

    <link rel="icon" type="image/png" href="img/favicon-16x16.png">

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Loading styles-->
    <link href="/css/loading.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-login mx-auto" style="background-color: #212529; margin-top: 150px; border-color: #65d0a7;">

        <% if ((typeof error != 'undefined') && error.length > 0) { %>
          <div class="alert alert-danger m-0"><%- error %></div>
        <% } %>

        <img src="img/logo0_color.png" class="center" style="width: 200px; height: 230px;">
        
        <div class="card-body">
          <form action="/login" method="post">
            <div class="form-group">
              <div class="form-label-group">
                <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus" value="edenis@device">
                <label for="inputEmail">Email</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required" value="1">
                <label for="inputPassword">Contraseña</label>
              </div>
            </div>
            <input class="btn btn-primary btn-block" type="submit" value="Ingresar" style="background-color: #2d6061; border-color: #34d0a6;">
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Loading -->
    <script src="/js/loading.js"></script>

  </body>

</html>

<script type="text/javascript">
  
  $("form").submit(event => {
    $(".container").hide();

    let element = lv.create(null, "lv-squares lg lv-mid lvt-5 lvb-3 loading-center");
    $("body").append(element.getElement());

    let loader = new lv();
    loader.initLoaderAll();
    loader.startObserving();
  });

</script>