.address-space-container {
	overflow: auto !important;
	height: 600px !important;
 	border: 0px !important;
}

.disabled-background-color {
	background-color: #e4e4e4;
}

.row-color-new {
	background-color: #fff878d4;
}

.row-color-running {
	background-color: #d4edda;
}

.row-color-stopped {
	background-color: #f7d7da;
}

.dataTables_filter, .dataTables_info, .dataTables_length { display: none; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*dark styles*/

#content-wrapper {
	background-color: #161719;
}

.sticky-footer {
	font-weight: bold;
    background-color: #212124 !important;
    color: #53ac91;
}

.breadcrumb {
	background-color: #212124 !important;
}

.breadcrumb-item.active {
    color: #ced4da;
}

a {
	color: #53ac91;
}

a:hover {
    color: #60c77b;
    text-decoration: underline;
}

.card-header div, .card-header {
	color: #53ac91 !important;
}

.card-header {
	border-color: #161719 !important;
}

.card {
	background-color: #333435;
    color: #f8f9fa;
}

.page-item.active .page-link {
    background-color: #53ac91;
    border-color: #53ac91;
}

table.dataTable {
    border-collapse: collapse !important;
}

.a-process-action {
	color: #191719 !important;
}

.a-process-action:hover {
    color: #000000 !important;
    text-decoration: underline;
}

.row-color-new {
	background-color: #0062cc;
}

.row-color-running {
	background-color: #08b308;
}

.row-color-stopped {
	background-color: #c70707;
}

.page-link {
    color: #54ac91;
}

.text-primary {
	color: #54ac91 !important;
}

.text-secondary {
	color: #ced4da !important;
}

.btn-primary {
    background-color: #3e8181;
    border-color: #3e8181;
}

.btn-primary:hover {
    background-color: #4e9090;
    border-color: #4e9090;
}

.btn-primary:active {
    background-color: #4e9090;
    border-color: #4e9090;
}

.dropdown-item:active {
	background-color: #4e9090;
    border-color: #4e9090;
}

.table-border {
	border: 1px solid;
}

.form-control {

}