.address-space-container {
	overflow: auto !important;
	height: 333px !important;
 	border: 0px !important;
}

.disabled-background-color {
	background-color: #e4e4e4;
}

.row-color-new {
	background-color: #fff878d4;
}

.row-color-running {
	background-color: #d4edda;
}

.row-color-stopped {
	background-color: #f7d7da;
}

.dataTables_filter, .dataTables_info, .dataTables_length { display: none; }