<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Device Sense</title>

    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- jsTree styles-->
    <link href="/css/jstree/style.min.css" rel="stylesheet">

    <!-- Custom CSS-->
    <link href="/css/style.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="/home">Device Sense</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto md-0">
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span><%= (typeof user != 'undefined') ?  user.firstName : 'Sin Usuario' %></span><i class="fas fa-caret-down fa-1x ml-1"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Accion 1</a>
            <a class="dropdown-item" href="#">Accion 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Salir</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-user"></i>
            <span>Usuarios</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Acciones:</h6>
            <a class="dropdown-item active" href="/user/list">Listado</a>
            <a class="dropdown-item" href="#">Accion 1</a>
            <a class="dropdown-item" href="#">Accion 2</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Otras Acciones:</h6>
            <a class="dropdown-item" href="#">Accion 3</a>
            <a class="dropdown-item" href="#">Accion 4</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link  dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-robot"></i>
            <span>Dispositivos</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Acciones:</h6>
            <a class="dropdown-item" href="/device/list">Mis Dispositivos</a>
            <a class="dropdown-item" href="/device/create">Nuevo</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link  dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-database"></i>
            <span>Bases de Datos</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Acciones:</h6>
            <a class="dropdown-item" href="/datastore/list">Mis Bases de Datos</a>
            <a class="dropdown-item" href="/datastore/create">Nueva</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link  dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-list-alt"></i>
            <span>Suscripciones</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Acciones:</h6>
            <a class="dropdown-item" href="/subscription/list">Mis Suscripciones</a>
            <a class="dropdown-item" href="/subscription/create">Nueva</a>
          </div>
        </li>
      </ul>

      <div id="content-wrapper">

        <div class="container-fluid">

          <% if ((typeof error != 'undefined') && error.length > 0) { %>
            <div class="alert alert-danger"><%- error %></div>
          <% } %>

          <% if ((typeof success != 'undefined') && success.length > 0) { %>
            <div class="alert alert-success"><%- success %></div>
          <% } %>