<% include ../partials/header %>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a  href="/datatype/list">Tipos de Datos</a>
  </li>
  <li class="breadcrumb-item active">Nuevo</li>
</ol>

<div class="card mb-3">
  <div class="card-body">
    <form action="/datatype/create" method="POST">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="name"><b>Nombre</b></label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del Tipo de Dato" 
          value=<%if(typeof params != 'undefined'){%> "<%=params['name']%>" <%}%>>
        </div>
        <div class="form-group col-md-3">
          <label for="device"><b>Dispositivo</b></label>
          <select class="form-control" id="device" name="device" required>
            <option value="">Seleccione un Dispositivo</option>
            <% devices.forEach(({id, name}) => { %>
            <option value="<%=id%>"
              <%if(typeof params != 'undefined' && params['device'] == id){%> selected <%}%>>
              <%=name%>
            </option>
            <% }) %>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="type"><b>Identificador</b></label>
          <input type="text" class="form-control" id="identifier" name="identifier" placeholder="Identificador"
          value=<%if(typeof params != 'undefined'){%> "<%=params['identifier']%>" <%}%>>
        </div>

        <div class="form-group col-md-3">
          <label for="supported"><b>Soportado</b></label>
          <select class="form-control" id="supported" name="supported" required="">
            <option value=""> </option>
            <option value="1"
              <%if(typeof params != 'undefined' && params['supported'] == "1"){%> selected <%}%>>
              Si
            </option>
            <option value="0"
              <%if(typeof params != 'undefined' && params['supported'] == "0"){%> selected <%}%>>
              No
            </option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Crear</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>