<% include ../partials/header %>

	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
	  <li class="breadcrumb-item">
	    <a href="/device/list">Dispositivos</a>
	  </li>
	  <li class="breadcrumb-item active">Address Space</li>
	</ol>
	
	<div class="card mb-3 address-space-container" style="background-color:#898e92 !important; color: black;">
		<div id="data" class="mt-1 demo">
	</div>

<% include ../partials/footer %>
	

<% if ((typeof addressSpace != 'undefined')) { %>
	<script>
		// inline data demo
		$('#data').jstree({
			'core' : {
				'data' : [<%- JSON.stringify(addressSpace) %>]
			},
			'types': {
			    // "root": {
			    //   "icon" : "glyphicon glyphicon-plus"
			    // },
			    "child": {
			      "icon" : "fab fa-envira"
			    },
			    "default" : {
			    }
			 },
			'plugins' : [ "wholerow", "types" ]
		})
	</script>
<% } %>