<% include ../partials/header %>

	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
	  <li class="breadcrumb-item">
	    <a href="/device/list">Dispositivos</a>
	  </li>
	  <li class="breadcrumb-item active">Address Space</li>
	</ol>
	
	<div class="card mb-3 address-space-container">
		<div id="data" class="mt-1 demo">
	</div>

<% include ../partials/footer %>
	

<% if ((typeof addressSpace != 'undefined')) { %>
	<script>
		// inline data demo
		$('#data').jstree({
			'core' : {
				'data' : [<%- JSON.stringify(addressSpace) %>]
			},
			'checkbox' : {
			    'keep_selected_style' : false,
			    'cascade_to_hidden': false,
			    'cascade_to_disabled': false,
			},
			'plugins' : [ "wholerow", "checkbox" ]
		});
	</script>
<% } %>