<% include ../partials/header %>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dispositivo</a>
  </li>
  <li class="breadcrumb-item active">Nuevo</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
  <div class="container p-2">
    <form action="/device/create" method="POST">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
        </div>
        <div class="form-group col-md-6">
          <label for="ipAdrress">Dirección IP</label>
          <input type="text" class="form-control" id="ipAdrress" name="ipAdrress" placeholder="XXX.XXX.XXX.XXX">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Descripción</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Drescripción">
      </div>
      <button type="submit" class="btn btn-primary">Crear</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>