<% include ../partials/header %>

  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dispositivo</a>
    </li>
    <li class="breadcrumb-item active">Ver</li>
  </ol>

<% include ../partials/footer %>