<% include ../partials/header %>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a  href="/subscription/list">Suscripciones</a>
  </li>
  <li class="breadcrumb-item active">Nueva</li>
</ol>

<div class="card mb-3">
  <div class="container p-2">
    <form action="/subscription/create" method="POST">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="uuid"><b>UUID</b></label>
          <input type="text" class="form-control" id="endpointUrl" name="uuid" placeholder="XXXX"
          value=<%if(typeof params != 'undefined'){%> "<%=params['uuid']%>" <%}%>>
        </div>
        <div class="form-group col-md-6">
          <label for="name"><b>Nombre</b></label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Nombre del Dispositivo" 
          value=<%if(typeof params != 'undefined'){%> "<%=params['name']%>" <%}%>>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
        <label for="description"><b>Descripción</b></label>
          <input type="text" class="form-control"  id="description" name="description" placeholder="Drescripción del Dispositivo"
          value=<%if(typeof params != 'undefined'){%> "<%=params['description']%>" <%}%>>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Crear</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>