<% include ../partials/header %>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a  href="/subscription/list">Suscripciones</a>
  </li>
  <li class="breadcrumb-item active">Nueva Suscripción</li>
  <li class="breadcrumb-item active">Paso 3 de 3</li>
</ol>

<div class="card mb-3">
  <div class="card-header text-primary">
    <b>Configuración de los Items</b>
  </div>
  <div class="card-body">
    <form id="create" action="/subscription/list" method="POST">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="">Node</th>
              <!-- <th class="">Parent Name</th> -->
              <th class="">Node Id</th>
              <th class="">Estado</th>
            </tr>
          </thead>
          <tbody>
          <% if (typeof itemsSelected != 'undefined') { %>
            <% for (i = 0; i < itemsSelected.length; i++) {  %>
            <tr>
              <td class=""><%= itemsSelected[i].text %></td>
              <!-- <td class=""><%= itemsSelected[i].parentName %></td> -->
              <td class=""><%= itemsSelected[i].id %></td>
              <td class=""><%= itemsSelected[i].message %></td>
            </tr>
            <% } %>
          <% } %>
          </tbody>
        </table>
      </div>
      <a href="/subscription/list" class="btn btn-danger mt-2 px-4" role="button">Finalizar</a>
    </form>
  </div>
</div>

<% include ../partials/footer %>