<% include ../partials/header %>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a  href="/subscription/list">Suscripciones</a>
  </li>
  <li class="breadcrumb-item active">Nueva Suscripción</li>
  <li class="breadcrumb-item active">Paso 2 de 3</li>
</ol>

<div class="card mb-3">
  <div class="card-header text-primary">
    <b>Items de la Suscripción</b>
  </div>
  <div class="card-body">
    <form id="create2" action="/subscription/create2" method="POST">
      <input id="itemsSelected" type="text" name="itemsSelected" hidden>
      <div class="form-row address-space-container">
        <div id="data" class="mt-1 demo"></div>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Siguiente</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>
  

<% if ((typeof addressSpace != 'undefined')) { %>
  <script>
    // inline data demo
    $('#data').jstree({
      'core' : {
        'data' : [<%- JSON.stringify(addressSpace) %>]
      },
      'types': {
          // "root": {
          //   "icon" : "glyphicon glyphicon-plus"
          // },
          "child": {
            "icon" : "fab fa-envira"
          },
          "default" : {
          }
       },
      'checkbox' : {
          'keep_selected_style' : false,
          // 'cascade_to_hidden': true,
          'cascade_to_disabled': true,
      },
      'plugins' : [ "wholerow", "checkbox", "types" ]
    })


    $("#create2").on('submit', function () {
      const myStorage = window.localStorage
      //const itemsSelected = JSON.stringify($('#data').jstree(true).get_selected())
      const itemsSelected = $('#data').jstree().get_selected(true)
      const originalItems = itemsSelected.map(itemSelected => itemSelected.original)
      const filteredItems = originalItems.filter(itemSelected => (itemSelected.state.disabled == false && itemSelected.type == "child"))
      
      $('#itemsSelected').val(JSON.stringify(filteredItems))
      myStorage.setItem('items_selected_step2', JSON.stringify(filteredItems))
      console.log(myStorage.getItem('subcription_info_step1'))
      console.log(myStorage.getItem('items_selected_step2'))
    })

  </script>
<% } %>