<% include ../partials/header %>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a  href="/user/list">Usuarios</a>
  </li>
  <li class="breadcrumb-item active">Cambiar Contrase単a</li>
</ol>

<div class="card mb-3">
  <div class="card-body">
    <form action="/user/changepassword" method="POST">
      
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="password"><b>Contrase単a Actual</b></label>
          <input type="password" class="form-control"  id="password" name="password">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="passwordNew"><b>Nueva Contrase単a</b></label>
          <input type="password" class="form-control"  id="passwordNew" name="passwordNew">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="passwordNew2"><b>Repetir Nueva Contrase単a</b></label>
          <input type="password" class="form-control"  id="passwordNew2" name="passwordNew2">
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Cambiar</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>