<% include partials/header %>

	<h1>Upss :(</h1>
	<p class="blue"><%- error.message %></p>
	<p class="green"><%- error.status %></p>
	<p class="red"><%- error.stack %></p>
	
<% include partials/footer %>