<% include partials/header %>

  <h1 class="text-secondary">Device Sense</h1>
  <p class="text-secondary ml-1">Bienvenido a Device Sense</p>
  <img class="center" src="/img/logo0_color.png" style="width: 33%;">

<% include partials/footer %>