<% include partials/header %>

	<h1>Adress Space</h1>
	<div id="data" class="demo">

<% include partials/footer %>
	
<script >
	// html demo
	$('#html').jstree();

	// inline data demo
	$('#data').jstree({
		'core' : {
			'data' : [
				{"id":"ns=4;s=Demo.Method","text":"003_Method","children":[{"id":"ns=4;s=Demo.Method.DoSomethingAfter10s","text":"DoSomethingAfter10s","children":[]},{"id":"ns=4;s=Demo.Method.EnumTest","text":"EnumTest","children":[{"id":"ns=4;s=Demo.Method.EnumTest.InputArguments","text":"InputArguments","children":[]},{"id":"ns=4;s=Demo.Method.EnumTest.OutputArguments","text":"OutputArguments","children":[]}]},{"id":"ns=4;s=Demo.Method.Multiply","text":"Multiply","children":[{"id":"ns=4;i=6176","text":"InputArguments","children":[]},{"id":"ns=4;i=6177","text":"OutputArguments","children":[]}]},{"id":"ns=4;s=Demo.Method.VectorAdd","text":"VectorAdd","children":[{"id":"ns=4;i=6187","text":"InputArguments","children":[]},{"id":"ns=4;i=6188","text":"OutputArguments","children":[]}]}]}
			]
		}
	});
</script>